<% content_for :sidebar do %>
  <%= render 'devise/login_or_sign_up' %>
<%end%>

<div class="hero-unit">
  <h2>Welcome to Basic Accounts</h2>
  <p>Simple accounting software for small business</p>
  <p>
    <%= link_to "Sign up now", new_company_registration_path, :class => "btn btn-primary btn-large"%>
      

  </p>
</div>