<% content_for :sidebar do %>
  <%= render 'devise/login_or_sign_up' %>
<%end%>

<div class="jumbotron">
  <h2>Welcome to Basic Accounts</h2>
  <p class="lead">Simple accounting software for small business</p>
  <p>-Easy to use, cost effective online accounting solution</p>
  <p>-Free for the first 3 months</p>
  <p>-$?0 per month unlimited data entry per company</p>
  <br />
  <p>Not using Basic Accounts yet?</p>
  <br />
  <p>
    <%= link_to "Sign up now", new_company_registration_path, :class => "btn btn-primary btn-large"%>
      

  </p>
  
</div>